[submodule "modules/puppetlabs-stdlib"]
	path = modules/puppetlabs-stdlib
	url = git@github.com:puppetlabs/puppetlabs-stdlib.git
[submodule "modules/puppetlabs-firewall"]
	path = modules/puppetlabs-firewall
	url = git@github.com:puppetlabs/puppetlabs-firewall.git
[submodule "modules/puppetlabs-apache"]
	path = modules/puppetlabs-apache
	url = git@github.com:puppetlabs/puppetlabs-apache.git
[submodule "modules/puppetlabs-mysql"]
	path = modules/puppetlabs-mysql
	url = git@github.com:puppetlabs/puppetlabs-mysql.git
